<script>
    import { tweened } from "svelte/motion";
    import { cubicOut } from "svelte/easing";
    let {
        scale = 1,
        carte = { m: -4, p: -4, c: "m" },
        canSelect = false,
        selected = false,
        onclick,
    } = $props();
    let iX = $derived((carte.p > 0 ? carte.p - 1 : carte.p) + 4);
    let iY = $derived((carte.m > 0 ? carte.m - 1 : carte.m) + 4);
    let posX = $derived((8 - iX) * 450); // l'origine est inversé en css
    let posY = $derived((8 - iY) * 450);
    let n = $derived(carte.c === "m" ? carte.m : carte.p);
    let iN = $derived((n > 0 ? n - 1 : n) + 4);
    let posN = $derived((8 - iN) * 450);

    const rotateAngle = tweened(0, { duration: 500, easing: cubicOut });

    $effect(() => {
        rotateAngle.set(carte.n ? 180 : 0);
    });
    //     style:box-shadow={selected ? '2px 2px 2px cyan, -2px 2px 2px cyan, -2px -2px 2px cyan, 2px -2px 2px cyan' : ''}
</script>

<!-- svelte-ignore a11y_click_events_have_key_events -->
<!-- svelte-ignore a11y_no_static_element_interactions -->
<div
    {onclick}
    style:display={"inline-block"}
    style:height={450 * scale + "px"}
    style:width={450 * scale + "px"}
    style:overflow2={"hidden"}
    style:filter2={selected ? "hue-rotate(180deg)" : ""}
    style:cursor2={canSelect ? "pointer" : "default"}
    style:transform={"rotateY(" + $rotateAngle + "deg)"}
    style:transform-style={"preserve-3d"}
    style:position={"relative"}
>
    <div
        class="carte-fonction"
        style:transform={"scale(" + scale + ")"}
        style:background-position-x={posX + "px "}
        style:background-position-y={posY + "px "}
        style:position={"absolute"}
        style:top={0 + "px "}
        style:left={0 + "px "}
    ></div>
     <div style="transform: scaleX(-1) translateZ(-1px);">
        <div
        class="carte-nombre"
        style:transform={"scale(" + scale + ")"}
        style:background-position-x={posN + "px "}
        style:background-position-y={0 + "px "}
        style:position={"absolute"}
        style:top={0 + "px "}
        style:left={0 + "px "}
        ></div>
    </div>
</div>

<style>
    .carte-fonction {
        display: inline-block;
        height: 450px;
        width: 450px;
        background-image: url("/assets/cartes-fonction.png");
        background-position: 0px 0px;
        transform-origin: 0px 0px;
        user-select: none;
    }
    .carte-nombre {
        display: inline-block;
        height: 450px;
        width: 450px;
        background-image: url("/assets/cartes-nombre.png");
        background-position: 0px 0px;
        transform-origin: 0px 0px;
        user-select: none;
    }
</style>
