<script>
    import Carte from "$lib/Carte.svelte";
    import { fade } from "svelte/transition";
    let {
        paquet = [],
        send,
        receive,
        canSelect,
        selected,
        onclick,
        variables = false,
    } = $props();
</script>

<!-- svelte-ignore a11y_click_events_have_key_events -->
<!-- svelte-ignore a11y_no_static_element_interactions -->
<div
    style:position={"relative"}
    style:height={"270px"}
    style:width={"270px"}
    style:display={"inline-block"}
    style:filter={selected ? "hue-rotate(180deg)" : ""}
    style:cursor={canSelect ? "pointer" : "default"}
    style:margin={"0px 10px"}
    onclick={canSelect ? onclick : () => {}}
>
    <!--
        <span class="uk-badge" style:position={"relative"} style:z-index={2}>{paquet.length}</span>
    -->
    {#each paquet.slice(-3) as carte, i (carte.id)}
        <div
            class="carte"
            style:position={"absolute"}
            style:top={0 + "px"}
            style:left={0 + "px"}
            style:display2={i > paquet.length - 3 ? "block" : "none"}
            in:receive={{ key: carte.id }}
            out:send={{ key: carte.id }}
        >
            <Carte {carte} scale={0.6} />
        </div>
    {/each}
    <div style="position:relative;top: 270px;">
        {#if variables && paquet.length}
            <div style="position:absolute;width:100%;">
                <span class="uk-label" transition:fade>m={paquet.at(-1).m}</span
                >
                <span class="uk-label" transition:fade>p={paquet.at(-1).p}</span
                >
            </div>
        {/if}
    </div>
</div>

<style>
    .carte {
        opacity: 1 !important;
    }
    /*
        div:hover .uk-badge {
            opacity: 1;
        }
        .uk-badge {
            opacity: 0;
            transition: opacity 2s;
            position: relative;
            z-index: 2;
        }
    */
    .uk-label {
        text-transform: none;
    }
</style>
