<script>
    let { players, currentplayer } = $props();
</script>

<div
    class="uk-card uk-card-default uk-card-body uk-text-center uk-card-small uk-flex"
>
    {#each players as player, i}
        <div
            class="uk-card uk-card-default uk-card-body uk-text-center uk-card-small uk-flex-1 uk-flex uk-flex-middle uk-flex-center uk-flex-column"
            class:uk-margin-left={i > 0}
            class:uk-card-primary={i === currentplayer}
            style:transition={"background-color 1s"}
        >
            <div>
                {player.nom}
            </div>
            <div class="uk-text-small">Score: {player.score}</div>
        </div>
    {/each}
</div>
