<script>
    import { slide } from "svelte/transition";
    import { scale } from "svelte/transition";
    import Carte from "$lib/Carte.svelte";
    import Paquet from "$lib/Paquet.svelte";
    import Players from "$lib/Players.svelte";
    import { shuffleArray } from "$lib/utils.js";

    import { crossfade } from "svelte/transition";
    const [send, receive] = crossfade({
        fallback: scale,
    });

    let mentionsLegages = $state(false);
    let players = $state(
        [""].map((x) => ({
            nom: x,
            score: 0,
        })),
    );
    let currentplayer = $state(0);
    let paquet1 = $state([]);
    let paquet2 = $state([]);
    let paquet3 = $state([]);
    let defausse1 = $state([]);
    let defausse2 = $state([]);
    let defausse3 = $state([]);
    let selectedPaquet = $state([]);
    let selectedDefausse = $state([]);
    let selectedDefausse2 = $state([]);
    let selectedDefausse3 = $state([]);
    let tutorielStep = $state(-1);
    let etape = $state("début"); // début - (défausse -) choix - révélation - résultat (- fin)
    let etapeBis = $state(false);
    let devraDefausser = $state(false);
    let cartes = [];
    for (const m of [-4, -3, -2, -1, 1, 2, 3, 4]) {
        for (const p of [-4, -3, -2, -1, 1, 2, 3, 4]) {
            cartes.push({ m, p, c: "m", id: m + "/" + p + "/m", n: false });
            cartes.push({ m, p, c: "p", id: m + "/" + p + "/p", n: false });
        }
    }
    shuffleArray(cartes);
    paquet1 = cartes.slice(0, Math.floor(cartes.length / 3));
    paquet2 = cartes.slice(
        Math.floor(cartes.length / 3),
        Math.floor((2 * cartes.length) / 3),
    );
    paquet3 = cartes.slice(Math.floor((2 * cartes.length) / 3), cartes.length);
    (() => {
        // required to avoid bug
        defausse1.push(paquet1.pop());
        defausse1[0].n = true;
        defausse2.push(paquet2.pop());
        defausse2[0].n = true;
        defausse3.push(paquet3.pop());
        defausse3[0].n = true;
    })();

    let P1 = $derived(paquet1[paquet1.length - 1]);
    let P2 = $derived(paquet2[paquet2.length - 1]);
    let P3 = $derived(paquet3[paquet3.length - 1]);
    let D1 = $derived(defausse1[defausse1.length - 1]);
    let D2 = $derived(defausse2[defausse2.length - 1]);
    let D3 = $derived(defausse3[defausse3.length - 1]);

    let choisirPaquet = (paquet, selected) => {
        if (selected.includes(paquet)) {
            selected.splice(selected.indexOf(paquet), 1);
        } else {
            if (selected.length < 2) {
                selected.push(paquet);
            }
        }
    };
</script>

<div class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>JackpotAffine</h1>
        {#if etape !== "début" && etape !== "fin"}
            <Players {players} {currentplayer} />
            <hr />
        {/if}
        {#if etape === "choix"}
            <div
                class="uk-card uk-card-default uk-card-body uk-text-center uk-card-small"
                transition:slide
            >
                Choisissez <strong>une carte fonction et une défausse</strong>
                ou <strong>deux cartes fonctions et deux défausses</strong>.

                <button
                    class="uk-button uk-button-primary uk-align-center uk-margin-small"
                    disabled={selectedPaquet.length !==
                        selectedDefausse.length || selectedPaquet.length === 0}
                    onclick={() => {
                        selectedDefausse2 = [...selectedDefausse]; // clone
                        selectedDefausse3 = [...selectedDefausse]; // clone
                        let PA = selectedPaquet.pop(); // paquet fonction choisi
                        let PB = selectedPaquet.pop(); // éventuelle deuxième paquet fonction choisi
                        let DA = selectedDefausse.pop(); // défausse choisie
                        let DB = selectedDefausse.pop(); // éventuelle deuxième défausse choisie
                        let CA = PA.pop(); // carte fonction choisie
                        DA.push(CA);
                        if (PB) {
                            let CB = PB.pop(); // deuxième carte fonction choisie
                            DB.push(CB);
                            devraDefausser = false;
                        } else {
                            devraDefausser = true;
                        }
                        etape = "révélation";
                    }}>Valider</button
                >
            </div>
        {/if}
        {#if etape === "révélation"}
            <div
                class="uk-card uk-card-default uk-card-body uk-text-center uk-card-small"
                transition:slide
            >
                Appuyez sur Révéler pour voir les cartes fonctions et les cartes
                nombres associées. Si les trois nombres sont égaux, c'est gagné
                !
                <br />
                <button
                    class="uk-button uk-button-primary uk-align-center uk-margin-small"
                    onclick={() => {
                        D1.n = true;
                        D2.n = true;
                        D3.n = true;
                        etape = "résultat";
                    }}>Révéler</button
                >
            </div>
        {/if}
        {#if etape === "résultat"}
            <div
                class="uk-card uk-card-default uk-card-body uk-text-center uk-card-small"
                transition:slide
            >
                {#if D1 && D2 && D3 && D1[D1.c] === D2[D2.c] && D2[D2.c] === D3[D3.c]}
                    C'est gagné !
                    <button
                        class="uk-button uk-button-primary uk-align-center uk-margin-small-top"
                        onclick={() => {
                            etape = devraDefausser ? "défausse" : "choix";
                            players[currentplayer].score += 3;
                            currentplayer =
                                (currentplayer + 1) % players.length;

                            defausse1.pop();
                            defausse2.pop();
                            defausse3.pop();
                            if (defausse1.length === 0) {
                                defausse1.push(paquet1.pop());
                                defausse1[0].n = true;
                            }
                            if (defausse2.length === 0) {
                                defausse2.push(paquet2.pop());
                                defausse2[0].n = true;
                            }
                            if (defausse3.length === 0) {
                                defausse3.push(paquet3.pop());
                                defausse3[0].n = true;
                            }
                            if (
                                paquet1.length === 0 ||
                                paquet2.length === 0 ||
                                paquet3.length === 0
                            ) {
                                etape = "fin";
                            }
                        }}>Passer au joueur suivant"</button
                    >
                {:else}
                    C'est perdu !
                    {#if !etapeBis && players[currentplayer].score > 0}
                        Vous pouvez si vous le souhaitez payer 1 point pour
                        tenter de rejouer une unique fois.
                    {/if}
                    <div
                        class="uk-flex uk-flex-middle uk-flex-center uk-margin-small-top"
                    >
                        {#if !etapeBis && players[currentplayer].score > 0 && !(paquet1.length === 0 || paquet2.length === 0 || paquet3.length === 0)}
                            <button
                                class="uk-button uk-button-primary uk-margin-small uk-margin-remove-vertical uk-margin-right"
                                onclick={() => {
                                    players[currentplayer].score -= 1;
                                    etapeBis = true;
                                    etape = "choix";
                                }}>Payer 1 point et rejouer</button
                            >
                        {/if}
                        <button
                            class="uk-button uk-button-primary uk-margin-small uk-margin-remove-vertical"
                            class:uk-margin-left={!etapeBis &&
                                players[currentplayer].score > 0 &&
                                !(
                                    paquet1.length === 0 ||
                                    paquet2.length === 0 ||
                                    paquet3.length === 0
                                )}
                            onclick={() => {
                                etape = devraDefausser ? "défausse" : "choix";
                                currentplayer =
                                    (currentplayer + 1) % players.length;
                                if (
                                    paquet1.length === 0 ||
                                    paquet2.length === 0 ||
                                    paquet3.length === 0
                                ) {
                                    etape = "fin";
                                }
                            }}>Passer au joueur suivant</button
                        >
                    </div>
                {/if}
            </div>
        {/if}
        {#if etape === "défausse"}
            <div
                class="uk-card uk-card-default uk-card-body uk-text-center uk-card-small"
                transition:slide
            >
                Le joueur précédent n'a joué qu'une seule carte fonction, vous
                pouvez donc (si vous le souhaitez), choisir une carte à
                défausser.
                <div
                    class="uk-flex uk-flex-middle uk-flex-center uk-margin-small-top"
                >
                    <button
                        class="uk-button uk-button-primary uk-margin-small uk-margin-remove-vertical uk-margin-right"
                        onclick={() => {
                            etape = "choix";
                        }}>Ne pas défausser</button
                    >
                    <button
                        class="uk-button uk-button-primary uk-margin-small uk-margin-remove-vertical uk-margin-left"
                        disabled={!selectedPaquet.length}
                        onclick={() => {
                            let PA = selectedPaquet.pop(); // paquet fonction choisi
                            PA.pop();
                            if (
                                paquet1.length === 0 ||
                                paquet2.length === 0 ||
                                paquet3.length === 0
                            ) {
                                etape = "fin";
                            } else {
                                etape = "choix";
                            }
                        }}>Défausser la carte sélectionnée</button
                    >
                </div>
            </div>
        {/if}
        {#if etape !== "début" && etape !== "fin"}
            <hr />
        {/if}
        <div
            class="uk-card uk-card-default uk-card-body"
            style="text-align:center;"
            style:display={etape === "fin" || etape === "début"
                ? "none"
                : "block"}
        >
            {#each [paquet1, paquet2, paquet3] as P}
                <Paquet
                    paquet={P}
                    {send}
                    {receive}
                    canSelect={(etape === "choix" &&
                        (selectedPaquet.includes(P) ||
                            selectedPaquet.length < 2)) ||
                        etape === "défausse"}
                    selected={selectedPaquet.includes(P)}
                    onclick={() => {
                        if (etape === "choix") {
                            choisirPaquet(P, selectedPaquet);
                        }
                        if (etape === "défausse") {
                            selectedPaquet = selectedPaquet.includes(P)
                                ? []
                                : [P];
                        }
                    }}
                />
            {/each}
            <hr class="uk-divider-icon" />
            {#each [defausse1, defausse2, defausse3] as D}
                <Paquet
                    paquet={D}
                    {send}
                    {receive}
                    canSelect={etape === "choix" &&
                        (selectedDefausse.includes(D) ||
                            selectedDefausse.length < 2)}
                    selected={selectedDefausse.includes(D)}
                    onclick={() => {
                        choisirPaquet(D, selectedDefausse);
                    }}
                    variables={!D[D.length - 1].n}
                />
            {/each}
        </div>
        <hr />
        {#if etape !== "début" && etape !== "fin"}
            <div
                class="uk-card uk-card-default uk-card-body uk-text-center uk-card-small uk-text-italic"
            >
                <strong>Règles du jeu :</strong><br />
                Derrière chaque carte fonction affine se trouve soit son coeffecient
                directeur, soit son ordonnée à l'origine.<br />
                Alignez trois fois le même nombre sur les piles de défausse afin
                de gagner le jackpot ! (<a
                    href="./assets/règles.pdf"
                    class="uk-link-muted"
                    target="_blank">voir les règles complètes</a
                >)
                <br /><br />
                <strong>Progression de la partie :</strong><br />
                <progress
                    title={paquet1.length +
                        "/" +
                        paquet2.length +
                        "/" +
                        paquet3.length}
                    class="uk-progress uk-margin-small-top"
                    value={Math.pow(
                        paquet1.length * paquet2.length * paquet3.length,
                        1 / 3,
                    )}
                    max="42"
                ></progress>
            </div>
        {/if}
        {#if etape === "fin"}
            <div
                class="uk-card uk-card-default uk-card-body"
                style="text-align:center;"
            >
                <strong>La partie est terminée !</strong><br />
                {#each players.sort((x, y) => y.score - x.score) as player, i}
                    <div>
                        {player.nom}
                        <span class="uk-badge"
                            >{player.score > 1
                                ? player.score + " points"
                                : player.score + "point"}</span
                        >
                    </div>
                {/each}
            </div>
        {/if}
        {#if etape === "début"}
            <div
                class="uk-card uk-card-default uk-card-body"
                style="text-align:center;"
            >
                {#if tutorielStep === -1}
                    Dans JackpotAffine, le but est d'obtenir un Jackpot en
                    obtenant trois fois le même nombre !<br />
                    <img
                        src="./assets/banniere.png"
                        alt="Bannière"
                        class="uk-margin-small"
                        width="600"
                    />
                    <hr />
                    {#each players as player, i}
                        <div>
                            <input
                                type="text"
                                class="uk-input uk-margin-small"
                                placeholder={"Nom du joueur n°" + (i + 1)}
                                bind:value={players[i].nom}
                            />
                        </div>
                    {/each}
                    <button
                        class="uk-button uk-button-primary uk-align-center uk-margin-small"
                        onclick={() => {
                            players.push({ nom: "", score: 0 });
                        }}>Ajouter un joueur</button
                    >
                    <button
                        class="uk-button uk-button-primary uk-align-center uk-margin-small"
                        onclick={() => {
                            players = players.map((x, i) => ({
                                nom: x.nom || "Joueur " + (i + 1),
                                score: 0,
                            }));
                            tutorielStep = 0;
                        }}>Démarrer la partie</button
                    >
                {/if}
                {#if tutorielStep <= 0}
                    <div
                        class="uk-container uk-container-xsmall"
                        style:display={tutorielStep === -1 ? "none" : "block"}
                        transition:slide
                    >
                        Ce jeu se joue avec des cartes dont le recto est la
                        courbe représentative d'une fonction affine et le verso
                        est un nombre correspondant soit à son coefficient
                        directeur, soit à son l'ordonnée à l'origine.

                        <div class="uk-margin-small-top uk-margin-small-bottom">
                            <Carte
                                carte={{
                                    m: 2,
                                    p: -1,
                                    c: "m",
                                    id: "2/-1/m",
                                    n: false,
                                }}
                                scale={0.6}
                            />
                        </div>

                        Derrière la carte ci-dessus se trouve donc soit le
                        nombre 2 (correspondant à sont coefficient directeur),
                        soit le nombre -1 (correspondant à son ordonnée à
                        l'origine).
                    </div>
                {/if}
                {#if tutorielStep === 1}
                    <div
                        class="uk-container uk-container-xsmall"
                        transition:slide
                    >
                        La zone de jeu se compose de trois pioches (en haut) et
                        de trois zone de défausse (en bas).

                        <div class="uk-margin-small-top uk-margin-small-bottom">
                            <img
                                src="./assets/miseenplace.svg"
                                alt="Mise en place"
                                class="uk-margin-small"
                            />
                        </div>

                        Il faut réussir à obtenir trois fois le même nombre (en
                        bas). Cela rapporte trois points au joueur.

                        <div class="uk-margin-small-top uk-margin-small-bottom">
                            <img src="./assets/etape3.svg" alt="Tutoriel" />
                            <!--
                                <Carte
                                carte={{ m: 2, p: -1, c: "m", id: "2/-1/m", n: true }}
                                scale={0.3}
                                />
                                <Carte
                                carte={{ m: 2, p: -1, c: "m", id: "2/-1/m", n: true }}
                                scale={0.3}
                                />
                                <Carte
                                carte={{ m: 2, p: -1, c: "m", id: "2/-1/m", n: true }}
                                scale={0.3}
                                />
                            -->
                        </div>
                    </div>
                {/if}
                {#if tutorielStep === 2}
                    <div
                        class="uk-container uk-container-xsmall"
                        transition:slide
                    >
                        Chaque joueur joue à tour de rôle.<br />

                        Au début de son tour, le joueur choisi
                        <strong>une pioche et une défausse</strong>
                        OU <strong>deux pioches et deux défausses</strong>. Pour
                        chaque pioche choisi, il prend la carte du dessus et la
                        pose sans la retourner sur la défausse choisie (qui
                        n'est pas forcément celle située en dessous).
                        <div class="uk-margin-small-top uk-margin-small-bottom">
                            <img src="./assets/etape1.svg" alt="Tutoriel" />
                        </div>
                    </div>
                {/if}
                {#if tutorielStep === 3}
                    <div
                        class="uk-container uk-container-xsmall"
                        transition:slide
                    >
                        Ensuite, il retourne les cartes fonctions afin de
                        révéler les nombres sur le verso des cartes.
                        <div class="uk-margin-small-top uk-margin-small-bottom">
                            <img src="./assets/etape2.svg" alt="Tutoriel" />
                        </div>
                    </div>
                {/if}
                {#if tutorielStep === 4}
                    <div
                        class="uk-container uk-container-xsmall"
                        transition:slide
                    >
                        Si les trois nombres sont indentiques, le joueur gagne
                        trois points et récupère ces trois cartes.
                        <div class="uk-margin-small-top uk-margin-small-bottom">
                            <img src="./assets/etape3.svg" alt="Tutoriel" />
                        </div>
                        Sinon, le joueur peut payer un point pour rejouer (faisable
                        une seule fois par tour).
                    </div>
                {/if}
                {#if tutorielStep === 5}
                    <div
                        class="uk-container uk-container-xsmall"
                        transition:slide
                    >
                        Dernière remarque :
                        <p class="uk-text-italic">
                            Si un joueur n'a joué qu'une seule carte fonction,
                            le joueur suivant peut choisir au début de son tour de défausser une
                            carte fonction d'une des pioches.
                        </p>
                        <strong>Ca y est, vous êtes prêt à jouer ! Bonne partie !</strong>
                    </div>
                {/if}
                {#if tutorielStep >= 0}
                    <button
                        class="uk-button uk-button-primary uk-align-center uk-margin-small"
                        onclick={() => {
                            if (tutorielStep === 5) {
                                etape = "choix";
                            } else {
                                tutorielStep++;
                            }
                        }}
                        >{tutorielStep === 5
                            ? "Commencer la partie"
                            : "Suivant"}</button
                    >
                {/if}
                <hr />
                {#if tutorielStep >= 0}
                    <button
                        class="uk-button uk-button-default uk-align-center uk-margin-small"
                        onclick={() => {
                            etape = "choix";
                        }}>Passer le tutoriel</button
                    >
                {/if}
                <a
                    href="./assets/règles.pdf"
                    class="uk-button uk-button-default"
                    target="_blank">Voir les règles complètes</a
                >
                <!-- PRELOAD CARTES -->
                <img
                    src="./assets/cartes-fonction.png"
                    alt="Cartes fonction (preload)"
                    class="uk-margin-small"
                    style="height:0px;width:0px;position:absolute;"
                />
                <img
                    src="./assets/cartes-nombre.png"
                    alt="Cartes nombre (preload)"
                    class="uk-margin-small"
                    style="height:0px;width:0px;position:absolute;"
                />
                <!-- PRELOAD TUTORIEL -->
                <img
                    src="./assets/miseenplace.svg"
                    alt="Mise en place (preload)"
                    class="uk-margin-small"
                    style="height:0px;width:0px;position:absolute;"
                />
                <img
                    src="./assets/etape1.svg"
                    alt="Tutoriel (preload)"
                    class="uk-margin-small"
                    style="height:0px;width:0px;position:absolute;"
                />
                <img
                    src="./assets/etape2.svg"
                    alt="Tutoriel (preload)"
                    class="uk-margin-small"
                    style="height:0px;width:0px;position:absolute;"
                />
                <img
                    src="./assets/etape3.svg"
                    alt="Tutoriel (preload)"
                    class="uk-margin-small"
                    style="height:0px;width:0px;position:absolute;"
                />
            </div>
        {/if}
    </div>
    <div id="mentions-legales">
        {#if mentionsLegages}
            <div
                class="uk-container uk-card uk-card-body uk-card-default uk-margin-top"
                out:slide
            >
                <h3 class="uk-card-title">Mentions légales</h3>
                <div
                    class="uk-card-badge uk-label"
                    style="cursor: pointer;"
                    role="button"
                    tabindex="0"
                    onkeypress={(e) => {
                        if (e.key === "Enter") {
                            mentionsLegages = false;
                        }
                    }}
                    onclick={() => {
                        mentionsLegages = false;
                    }}
                >
                    Fermer
                </div>
                <h5>Politique de cookies et les données personnelles</h5>
                <ul>
                    <li>
                        Ce site n'utilise aucune base de données, ne stocke et
                        ne traite pas de données personnelles.
                    </li>
                    <li>Ce site n'utilise pas de cookies.</li>
                </ul>
                <h5>Licence</h5>
                <ul>
                    <li>
                        Le code source de ce jeu est placé sous <!--[--><a
                            href="https://forge.apps.education.fr/DegrangeM/JackpotAffine/-/blob/main/LICENSE"
                            target="_blank">Licence MIT</a
                        >.
                    </li>
                    <li>
                        Le <a
                            href="https://forge.apps.education.fr/DegrangeM/JackpotAffine/"
                            target="_blank">code source</a
                        > est disponible sur la Forge des communs numériques éducatifs.
                    </li>
                    <!--]-->
                </ul>
            </div>
        {/if}
    </div>
    <div class="uk-container uk-flex uk-flex-between uk-margin">
        <div class="uk-text-italic uk-margin-left">
            Un jeu réalisé par Mathieu Degrange - <a
                href="#mentions-legales"
                onkeypress={(e) => {
                    if (e.key === "Enter") {
                        mentionsLegages = true;
                        // e.preventDefault();
                    }
                }}
                onclick={(e) => {
                    mentionsLegages = true;
                    // e.preventDefault();
                }}>Mentions légales</a
            >
        </div>
        <div class="uk-text-italic uk-margin-right">
            <a
                href="https://forge.apps.education.fr/DegrangeM/JackpotAffine"
                target="_blank">Code source</a
            > disponible sur la forge
        </div>
    </div>
</div>
