.carte-fonction.svelte-1ukhc2r{display:inline-block;height:450px;width:450px;background-image:url(/assets/cartes-fonction.png);background-position:0px 0px;transform-origin:0px 0px;user-select:none}.carte-nombre.svelte-1ukhc2r{display:inline-block;height:450px;width:450px;background-image:url(/assets/cartes-nombre.png);background-position:0px 0px;transform-origin:0px 0px;user-select:none}.carte.svelte-koh4ps{opacity:1!important}.uk-label.svelte-koh4ps{text-transform:none}
